<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
  @author Samuel Larkin
  @file plive.html
  @brief plive client-side.

  Traitement multilingue de textes / Multilingual Text Processing
  Centre de recherche en technologies numériques / Digital Technologies Research Centre
  Conseil national de recherches Canada / National Research Council Canada
  Copyright 2018, Sa Majeste la Reine du Chef du Canada
  Copyright 2018, Her Majesty in Right of Canada
-->

<!--
    CSS LOADERS
    http://tobiasahlin.com/spinkit/
    https://loading.io/css/
    http://freefrontend.com/css-loaders/
-->

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
   <head>
      <title>PORTAGELive</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

      <!--
            Website: http://www.fyneworks.com/jquery/xml-to-json/
            This is a dependency that allows _fetch to `$.xml2json(response)`.
            http://www.fyneworks.com/ - diego@fyneworks.com
            Licensed under http://en.wikipedia.org/wiki/MIT_License
            -->
      <script type="text/javascript" src="jquery.xml2json.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js" type="text/javascript"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-toasted/1.1.24/vue-toasted.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vue-toasted/1.1.24/vue-toasted.min.css" />
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

      <!--
      <script src="https://cdn.jsdelivr.net/npm/tinysoap@1.0.2/tinysoap-browser-min.js"></script>
      <script type="text/javascript" src="tinysoap-browser.js"></script>
      -->

      <link rel="stylesheet" href="nrc.gc.ca.css">
      <link rel="stylesheet" href="plive.css">
      <link rel="stylesheet" href="plive.translating.css">
   </head>

   <body>

      <div id="wb-body">

         <div id="wb-head">
            <div id="wb-head-in">
               <header>
                  <div id="gcwu-gcnb">
                     <h2>Government of Canada navigation bar</h2>
                     <div id="gcwu-gcnb-in">
                        <div id="gcwu-gcnb-fip">
                           <div id="gcwu-sig">
                              <img src="sig-eng.svg"></img>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div id="gcwu-bnr" role="banner">
                     <div id="gcwu-bnr-in">
                        <div id="gcwu-wmms">
                           <img src="wmms.svg"></img>
                        </div>
                        <div id="gcwu-title">
                           <p id="gcwu-title-in">
                           <a href="https://www.nrc-cnrc.gc.ca/eng/index.html">
                              National Research Council Canada
                           </a>
                           </p>
                        </div>
                     </div>
                  </div>
               </header>
            </div>
         </div>



         <section id="plive_app" name="plive_app">

            <section name="context">
               <fieldset class="round_corners">
                  <label for="context">
                     <strong>Select a context:</strong>
                     <select id="context" v-model="context" name="context" title="Which context to use during translation">
                        <option :selected="true" disabled value="unselected">&mdash; Please pick one &mdash;</option>
                        <option
                        v-for="context in contexts"
                        :value="context.name"
                        v-bind:class="{ incremental : context.is_incremental}">
                        {{context.description}}
                        </option>
                     </select>
                  </label>
                  <label>
                     Incremental Model Document ID:
                     <input
                     name="document_id"
                     title="Document id to translate with an incremental model."
                     placeholder="Document Model ID"
                     type="text"
                     v-model="document_id"
                     size="20"
                     maxlength="40" />
                  </label>
               </fieldset>
            </section>

            <primetag :context="context" :contexts="contexts"></primetag>

            <section class="row">
               <section name="translate_text">
                  <fieldset class="round_corners">
                     <legend>Translate Text</legend>
                     <div>
                        <strong>Type in source-language text:</strong>
                     </div>
                     <div>
                        <textarea
                           name="text_source"
                           title="The text you want to translate"
                           v-model="text_source"
                           rows="5">
                        </textarea>
                        <textarea
                           name="translation"
                           title="You will see your translations in this box"
                           v-model="translation"
                           rows="5"
                           readonly="true"
                           placeholder="Your translations.">
                        </textarea>
                     </div>
                     <div>
                        <label for="text_xtags" class="lineup">
                           <input v-model="text_xtags" id="text_xtags" name="text_xtags" type="checkbox" value="on" />
                           <strong>xtags</strong> &ndash; Check this box if input text contains tags and you want to process &amp; transfer them.
                        </label>
                     </div>
                     <!-- Portage's WSDL doesn't offer phrase table.
                           <div>
                              <label for="enable_phrase_table_debug">
                                 <input id="enable_phrase_table_debug" v-model="enable_phrase_table_debug" type="checkbox" name="enable_phrase_table_debug" value="on" />
                                 <strong>phrase table</strong> - Check this box if you want to genereate a phrase table per source sentence for debugging purposes.
                              </label>
                           </div>
                           -->
                     <fieldset id="text_advanced_options" class="round_corners">
                        <legend>Advanced Options: newline</legend>
                        <label class="lineup" title="Check this box if input text has one sentence per line">
                           <input v-model="newline" type="radio" name="newline" value="s" />
                           one sentence per line
                        </label>
                        <label class="lineup" title="Check this box if input text has one paragraph per line">
                           <input v-model="newline" type="radio" name="newline" value="p" checked="checked" />
                           one paragraph per line
                        </label class="lineup">
                        <label class="lineup" title="Check this box if input text has two consecutive newlines mark the end of a paragraph, otherwise newline is just whitespace">
                           <input v-model="newline" type="radio" name="newline" value="w" />
                           blank lines mark paragraphs
                        </label>
                        <!-- Portage's WSDL doesn't offer pretokenized option.
                              <br />
                              <label>
                                 <input v-model="pretokenized" type="checkbox" name="notok" value="on" />
                                 <strong>pre-tokenized</strong> - Check this box if word-tokens are already space-separated in the source text file.
                              </label>
                              -->
                     </fieldset>
                     <div>
                        <div style="float: left">
                           <button
                              title="Select a context, type your sentence then translate."
                              v-on:click="translate"
                              :disabled="!is_translating_possible()"
                              accesskey="t">
                              Translate Text
                           </button>
                        </div>
                        <!--
                        <translating :is_translating="is_translating_text" style="float: left; padding-left: 1em" />
                        -->
                     </div>
                  </fieldset>
               </section>

               <section class="group_translate_file_and_incremental">
                  <section name="translate_file">
                     <fieldset class="round_corners">
                        <legend>Translate a file</legend>

                        <div v-if="context == 'unselected'">
                           Please, also select a context
                        </div>
                        <div v-else>
                           Using context <em>{{context}}</em> to add sentence pair to.
                        </div>

                        <div>
                           <label>
                              <strong>Select a file:</strong>
                              <input
                              name="filename"
                              title="Select a file to translate"
                              type="file"
                              v-on:change="prepareFile"
                              size="60"
                              accept=".txt,.tmx,.sdlxliff,.xliff" />
                           </label>
                        </div>
                        <div>
                           <label class="lineup">
                              <input v-model="is_xml" type="checkbox" name="is_xml" value="on" />
                              <strong>TMX/SDLXLIFF</strong> &ndash; Check this box if input file is TMX or SDLXLIFF.
                           </label>
                        </div>
                        <div>
                           <label class="lineup">
                              <input v-model="file_xtags" id="file_xtags" name="file_xtags" type="checkbox" value="on" />
                              <strong>xtags</strong> &ndash; Check this box if input file contains tags and you want to process &amp; transfer them.
                           </label>
                        </div>
                        <div>
                           <label class="lineup">
                              <input
                                 v-model="useConfidenceEstimation"
                                 type="checkbox"
                                 name="useConfidenceEstimation"
                                 value="on"
                                 :disabled="!is_ce_possible()" />
                              <strong>Confidence Estimation</strong> &ndash; Check this box if you want to use Confidence Estimation when a context provides Confidence Estimation.
                           </label>
                        </div>
                        <div>
                           <label for="filters" style="display: block; margin-left: 105px">
                              <select
                                 v-model="CETreshold"
                                 id="filters"
                                 name="filter"
                                 title="Select a confidence level"
                                 :disabled="!is_ce_possible()"
                                 style="margin-left: -105px"
                                 size="1">
                                 <option :selected="true" value="no filtering">no filtering</option>
                                 <option v-for = "filter in filters" :value="filter" >{{filter | doubleDigits}}</option>
                              </select>
                              <strong>Filter</strong> &ndash; Set the filtering threshold on confidence (TMX/SDLXLIFF files only).
                           </label>
                        </div>
                        <div>
                           <div style="float: left">
                              <button
                                 name="translate_file"
                                 title="Select a context, select a file then translate"
                                 v-on:click="translateFile"
                                 :disabled="!is_translating_a_file_possible()"
                                 accesskey="f">
                                 Translate File
                              </button>
                           </div>
                        </div>
                        <div v-show="translation_progress >= 0">
                           <progress v-bind:value="translation_progress" max="100"></progress>
                        </div>
                        <div>
                           <!--
                           <translating :is_translating="is_translating_file" style="float: left; padding-left: 1em" />
                           <translating :is_translating="is_translating_file" />
                           -->
                        </div>
                        <div id="translate_file_urls" v-show="translation_url != undefined">
                           <ul>
                              <li><a v-bind:href="translation_url" name="translate_url" target="_blank">Translated File</a></li>
                              <li><a v-bind:href="oov_url" name="oov_url" target="_blank">Out-of-vocabulary words</a></li>
                              <li><a v-bind:href="pal_url" name="pal_url" target="_blank">Phrase alignments</a></li>
                           </ul>
                        </div>
                        <div v-show="trace_url != undefined">
                           <h3>Error</h3>
                           {{translate_file_error}}
                           <a v-bind:href="trace_url" name="trace_url" target="_blank">trace</a>
                        </div>
                     </fieldset>
                  </section>

                  <section name="incremental">
                     <fieldset class="round_corners">
                        <legend>Add a sentence pair for a document id</legend>

                        <div v-if="context == 'unselected'">
                           Please, also select a context
                        </div>
                        <div v-else>
                           Using context <em>{{context}}</em> to add sentence pair to.
                        </div>

                        <div>
                           <label for="incr_source_segment">
                              Source segment:
                              <input
                              id="incr_source_segment"
                              name="incr_source_segment"
                              title="Source segment to add to your incremental document"
                              type="text"
                              class="segment"
                              v-model="incr_source_segment"
                              maxlength="200" />
                           </label>
                        </div>
                        <div>
                           <label for="incr_target_segment">
                              Target segment:
                              <input
                              id="incr_target_segment"
                              name="incr_target_segment"
                              title="Target segment to add to your incremental document"
                              type="text"
                              class="segment"
                              v-model="incr_target_segment"
                              maxlength="200" />
                           </label>
                        </div>
                        <div>
                           <button
                              name="incr_add_sentence"
                              title="Given a context, add a sentence pair to a document id."
                              v-on:click="incrAddSentence"
                              :disabled="!is_incrAddSentence_possible()"
                              accesskey="a">
                              Add Sentence Pair
                           </button>
                        </div>
                     </fieldset>
                  </section>

                  <incrstatustag :context="context" :contexts="contexts" :document_id="document_id"></incrstatustag>

               </section>
            </section>

            <section name="clear">
               <button
                  name=".defaults"
                  title="Reset the fields to their default values."
                  v-on:click="clearForm"
                  accesskey="c">Clear Form</button>
            </section>

            <div id="plive_version">Powered by: {{version}}</div>
         </section>



         <div id="wb-foot">
            <div id="wb-foot-in">
               <footer>
                  <div id="gcwu-sft">
                     <div id="gcwu-sft-in">
                        <div id="gcwu-tctr" style=" height: 30px; ">
                        </div>
                        <div class="clear"></div>
                     </div>
                  </div>
                  <div class="left">
                     <img alt="National Research Council Canada" src="nrc-eng.svg" width="340" height="30" />
                  </div>
                  <div class="middle">
                     <small>
                        <p>PortageII cur</p>
                        <p>Traitement multilingue de textes / Multilingual Text Processing</p>
                        <p>Centre de recherche en technologies numériques / Digital Technologies Research Centre</p>
                        <p>Conseil national de recherches Canada / National Research Council Canada</p>
                        <p>Copyright 2004&ndash;2018, Sa Majest&eacute; la Reine du Chef du Canada /  Her Majesty in Right of Canada</p>
                        <p><a href="/portage_notices.php">Third party Copyright notices</a></p>
                     </small>
                  </div>
                  <div class="right">
                     <img alt="Government of Canada" height="44" src="/images/mainWordmark.gif" width="93" />
                  </div>
               </footer>
            </div>
         </div>

      </div>

      <script type="text/x-template" id="vue_translating_template">
         <div v-show="is_translating" class="translating">
            <div class="translating-text">
               <span class="translating-text-words">T</span>
               <span class="translating-text-words">r</span>
               <span class="translating-text-words">a</span>
               <span class="translating-text-words">n</span>
               <span class="translating-text-words">s</span>
               <span class="translating-text-words">l</span>
               <span class="translating-text-words">a</span>
               <span class="translating-text-words">t</span>
               <span class="translating-text-words">i</span>
               <span class="translating-text-words">n</span>
               <span class="translating-text-words">g</span>
            </div>
         </div>
      </script>

      <script type="text/x-template" id="translating_template">
         <div class="translating-text">
            <span class="translating-text-words">T</span>
            <span class="translating-text-words">r</span>
            <span class="translating-text-words">a</span>
            <span class="translating-text-words">n</span>
            <span class="translating-text-words">s</span>
            <span class="translating-text-words">l</span>
            <span class="translating-text-words">a</span>
            <span class="translating-text-words">t</span>
            <span class="translating-text-words">i</span>
            <span class="translating-text-words">n</span>
            <span class="translating-text-words">g</span>
         </div>
      </script>

      <script type="text/x-template" id="incrStatus_template">
         <section name="incrStatus">
            <fieldset class="round_corners">
               Select a context, provide a document id then click to get the incremental status.
               <button
                  name="incrStatus"
                  title="Select a context, provide a document id then click to get the incremental status"
                  @click="incrStatus"
                  :disabled="!is_incrStatus_possible()"
                  accesskey="s">
                  Incremental Document Status
               </button>
               <div>
                  {{incrStatus_status}}
               </div>
            </fieldset>
         </section>
      </script>

      <script type="text/x-template" id="prime_template">
         <section name="priming">
            <fieldset class="round_corners">
               <legend>Prime Context</legend>
               For speedier translation, it is useful to prime the models in memory
               on the server.  Note that you cannot prime all models due to memory
               limitation on the server.  Priming too often is also not recommended.
               <label class="lineup" title="Refreshes most important models in memory">
                  <input v-model="prime_mode" type="radio" name="partial" value="partial" checked="true" />
                  partial
               </label>
               <label class="lineup" title="Refreshes all models in memory for speedier translation">
                  <input v-model="prime_mode" type="radio" name="full" value="full" />
                  full
               </label class="lineup">
               <div>
                  <div style="float: left">
                     <button
                        title="Select a context, select a mode then prime your models"
                        @click="primeModel"
                        :disabled="!is_priming_possible()"
                        accesskey="p">
                        Prime Context
                     </button>
                  </div>
               </div>
            </fieldset>
         </section>
      </script>

      <script type="text/javascript" src="plive.js"> </script>

   </body>
</html>
